{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1"
    />
    <title>403 Forbidden</title>
    <style>
      body {
        font-family: "SF", Helvetica, "Roboto", Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <div
      style="
        display: flex;
        height: 95vh;
        align-items: center;
        justify-content: center;
      "
    >
      <div>
        <img
          src="{% static 'img/forbidden.svg' %}"
          style="width: 90%"
          alt="403"
        />
        <hr />
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <h6>Action Forbidden!</h6>
        </div>
      </div>
    </div>
  </body>
</html>
