{% load static %}
<div class="footer">
  <div class="footer-content">
    <div class="d-flex align-items-center justify-content-between w-100 h-100">
      <div class="d-flex align-items-center justify-content-center">
        <div style="margin-right: 0.5rem">
          <a href="https://nepal.com" target="_blank" rel="noreferrer">
            <img src="{% static 'img/nepal.png' %}" alt="nepal" />
          </a>
        </div>
        <div>
          Made By
          <a href="https://satshree.com.np" target="_blank">Satshree</a> and
          <a href="https://aashirstha.com.np" target="_blank">Aashirwad</a>
        </div>
      </div>
      <div>
        <img
          src="{% static 'img/smartphone.png' %}"
          style="margin-right: 1rem"
          alt="github"
        />
        <a
          href="https://github.com/satshree/image-converter-api"
          target="_blank"
        >
          <img src="{% static 'img/github.png' %}" alt="github" />
        </a>
      </div>
    </div>
  </div>
</div>
